* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #b19cd9, #e8def5); /* Light purple gradient */
    position: relative;
}

.word {
    color: #4b0082; /* Dark purple */
    font-size: 6rem;
    cursor: none;
}

.illumination {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background: radial-gradient(
        circle at var(--x) var(--y),
        transparent -10%,
        black 25% /* Light purple */
    );
}
